#locate {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  h2 {
    margin: 15px 0;
    font-family: $poppins;
    font-weight: 600;
    max-width: 350px;
  }

  .locate-text {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;

    p {
      font-family: $rubik;
      font-size: .90em;
      max-width: 350px;
    }
  }
  
  .vue-map-container {
    margin-top: 25px;
    height: 80vh;
    min-height: 350px;
    width: 100%;

    .place-title {
      font-size: 1.1em;
      font-weight: 500;
    }

    p {
      max-width: 200px;
    }
  }
}