#footer{
  justify-content: center;
  flex-wrap: wrap;
  background-color: #2F395F;
  height: 200px;

  hr {
    padding-top: 150px;
    border: none;
    border-bottom: 1px solid $columbia-blue;
  }

  p {
    color: white;
    margin-top: 15px;
    text-align: center;
  }
}